/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "tailwindcss-motion";

/* Hanson Bold */
@font-face {
    font-family: 'Hanson';
    src: url('./assets/fonts/Hanson-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.font-hanson {
    font-family: 'Hanson';
}

.font-roboto {
    font-family: 'Roboto';
}

@theme {
    --font-hanson: Hanson, sans-serif;
    --font-Roboto: Roboto;
    --inset-shadow-md: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

html,
body {
    font-family: 'Hanson', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply transition-colors duration-500 ease-in-out;
}
