<div [class]="currentPalette.bg + ' min-h-screen'">
    <div class="grid grid-cols-12 gap-4 p-4">
        <!-- Header: Titoli + Luna -->
        <div class="col-span-9 row-span-3 flex items-start justify-between pl-4">
            <!-- Titoli -->
            <div class="flex gap-4">
                <h1
                    [class]="
                        currentPalette.text + ' font-hanson text-6xl leading-none text-shadow-lg'
                    "
                >
                    Color
                </h1>
                <h1
                    [class]="
                        currentPalette.text + ' font-hanson text-6xl leading-none text-shadow-lg'
                    "
                >
                    Palette
                </h1>
            </div>

            <!-- Toggle Tema -->
            <div
                [class]="
                    currentPalette.text +
                    currentPalette.toggle +
                    'inset-shadow-md dark:inset-shadow-md absolute top-4 right-4 flex h-10 w-20 cursor-pointer items-center justify-between rounded-full p-1'
                "
                (click)="toggleTheme()"
            >
                <!-- Sole e Luna fissi ai lati -->
                <lucide-icon name="sun" [class]="currentPalette.text + ' h-6 w-6'"></lucide-icon>
                <lucide-icon name="moon" [class]="currentPalette.text + ' h-6 w-6'"></lucide-icon>

                <!-- Knob mobile -->
                <div
                    class="dark:shadow' absolute top-1 h-8 w-8 rounded-full bg-white shadow transition-transform duration-300 ease-in-out"
                    [ngClass]="theme() === 'light' ? 'translate-x-0' : 'translate-x-10'"
                ></div>
            </div>
        </div>
        <div class="col-span-9 row-span-3 flex justify-start pl-4">
            <p [class]="currentPalette.text + ' font-roboto text-xl'">
                Minimal, free color palette generator for people who hate messy apps.
            </p>
        </div>
    </div>

    <!--Card con colori -->
    <div class="mt-4 flex flex-wrap justify-around gap-4 px-4">
        <div *ngFor="let color of colors" class="flex flex-col items-center">
            <div class="card w-64 shadow-sm" [style.backgroundColor]="color.hex">
                <div class="card-body flex h-80 items-center justify-center"></div>

                <!--CopyToClipboard-->
                <div class="flex justify-center p-4">
                    <div class="relative h-6 w-6 cursor-pointer" (click)="copyText(color)">
                        <!-- Copy icon -->
                        <lucide-icon
                            name="copy"
                            class="absolute inset-0 transition-all duration-150 ease-out"
                            [class.opacity-0]="color.copied?.()"
                            [class.scale-50]="color.copied?.()"
                        ></lucide-icon>

                        <!-- Check icon -->
                        <lucide-icon
                            name="check"
                            class="absolute inset-0 transition-all duration-150 ease-out"
                            [class.opacity-100]="color.copied?.()"
                            [class.scale-125]="color.copied?.()"
                            [class.opacity-0]="!color.copied?.()"
                            [class.scale-90]="!color.copied?.()"
                        ></lucide-icon>
                    </div>
                </div>
            </div>
            <!-- Testo sotto la card -->
            <h3 [class]="currentPalette.text + ' mt-2 uppercase'">{{ color.hex }}</h3>
        </div>
    </div>

    <!--Button per generare palette-->
    <div class="mt-4 flex justify-center">
        <button
            (click)="generateMonoPalette(5)"
            [class]="
                currentPalette.button +
                ' btn btn-lg bg font-roboto mb-4 rounded-full px-4 py-2 text-2xl'
            "
        >
            Generate Palette
        </button>
    </div>
</div>
