<!---->
<div [class]="themeService.bgClass + ' grid grid-cols-12 sm:gap-4 sm:p-4'">
  <app-header class="col-span-12"></app-header>

  <div class="col-span-12 sm:col-span-4 sm:row-span-3 sm:flex sm:justify-start sm:pl-4">
    <p [class]="themeService.textClass + ' font-roboto text-xl'">
      Minimal, free color palette generator for people who hate messy apps.
    </p>
  </div>

  <app-palette-grid class="col-span-12 row-span-3"></app-palette-grid>
  <!--Container button dropdown-->
  <div class="col-span-12 mt-8 flex items-center justify-center gap-4">
    <!--Dropdown menu method-->
    <details class="dropdown">
      <summary [class]="themeService.buttonClass + ' btn btn-lg font-roboto mb-4 rounded-full px-4 py-2 text-2xl'">
        Choose method
        <span></span>
      </summary>
      <ul [class]="themeService.buttonClass + ' menu dropdown-content font-roboto rounded-box z-1 w-52 p-2 shadow-sm'">
        <li><a>Random</a></li>
        <li><a>Monocromatic</a></li>
        <li><a>Analogus</a></li>
        <li><a>Complementary</a></li>
      </ul>
    </details>

    <!--Button per generare palette-->
    <button
      (click)="generateMonoPalette(5)"
      [class]="themeService.buttonClass + ' btn btn-lg font-roboto mb-4 rounded-full px-4 py-2 text-2xl'"
    >
      Generate Palette
    </button>
  </div>
</div>
