<div class="min-h-screen bg-green-200 dark:bg-gray-900">
    <div class="grid grid-cols-12 gap-4 p-4">
        <!-- Header: Titoli + Luna -->
        <div class="col-span-9 row-span-3 flex items-start justify-between pl-4">
            <!-- Titoli -->
            <div class="flex gap-2">
                <h1
                    class="font-hanson text-6xl leading-none text-green-900 text-shadow-lg dark:text-violet-300"
                >
                    Color
                </h1>
                <h1
                    class="font-hanson text-6xl leading-none text-green-900 text-shadow-lg dark:text-violet-300"
                >
                    Palette
                </h1>
            </div>

            <!-- Toggle Tema -->
            <div
                class="inset-shadow-md dark:inset-shadow-md absolute top-4 right-4 flex h-10 w-20 cursor-pointer items-center justify-between rounded-full bg-green-600 p-1 inset-shadow-green-950 dark:bg-violet-300 dark:inset-shadow-violet-950"
                (click)="toggleTheme()"
            >
                <!-- Sole e Luna fissi ai lati -->
                <lucide-icon name="sun" class="h-6 w-6 text-green-900"></lucide-icon>
                <lucide-icon name="moon" class="h-6 w-6 text-green-900"></lucide-icon>

                <!-- Knob mobile -->
                <div
                    class="absolute top-1 h-8 w-8 rounded-full bg-white shadow transition-transform duration-300 ease-in-out"
                    [ngClass]="theme() === 'light' ? 'translate-x-0' : 'translate-x-10'"
                ></div>
            </div>
        </div>
        <div class="col-span-9 row-span-3 flex justify-start pl-4">
            <p class="text-xl text-green-900 dark:text-violet-300">
                Minimal, free color palette generator for people who hate messy apps.
            </p>
        </div>
    </div>

    <!--Card con colori -->
    <div class="mt-4 flex flex-wrap justify-around gap-4 px-4">
        <div *ngFor="let color of colors" class="flex flex-col items-center">
            <div class="card w-64 shadow-sm" [style.backgroundColor]="color.hex">
                <div class="card-body flex h-80 items-center justify-center"></div>
                <div class="flex justify-center p-4">
                    <lucide-icon name="copy" class="h-6 w-6"></lucide-icon>
                </div>
            </div>
            <!-- Testo sotto la card -->
            <h3 class="mt-2 text-green-900 uppercase dark:text-violet-300">{{ color.hex }}</h3>
        </div>
    </div>

    <!--Button per generare palette-->
    <div class="mt-4 flex justify-center">
        <button
            (click)="generateMonoPalette(5)"
            class="btn btn-lg bg mb-4 rounded-full bg-green-900 px-4 py-2 text-green-200 dark:bg-violet-300 dark:text-violet-950"
        >
            Generate Palette
        </button>
    </div>
</div>
